/* There are some inline stylings on Shows.js and Watched.js */

.App {
  text-align: center;
  background-color: #444444;
  color: white;
}

.header {
  font-weight: 700;
  font-size:xx-large;
  margin-bottom: 10px;
  font-family: 'Lobster', cursive;
}

.mainFlex {
  display: flex;
  justify-content: space-between;
}

/* child one */
/* .availableShows {
  flex-grow: 3;
} */

/* .availableShows {
  flex-grow: 1;
} */

/* .availableShows {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-left: 20px;
}

.showProps {
  margin: 0px 20px;
} */