/* There are some inline stylings on Shows.js and Watched.js */


/* Next maybe create it so that on hover it will create a "card" effect */
.App {
  text-align: center;
  background-color: #444444;
  color: white;
  height: 200vh;
}

.header {
  display: flex;
  justify-content: space-around;
  font-weight: 700;
  font-size:xx-large;
  background-color: rgb(95, 23, 15);
  padding: 10px;
  margin-bottom: 10px;
  font-family: 'Lobster', cursive;
  text-decoration: underline;
}

.mainFlex {
  display: flex;
}

.availableShows {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 110%;
}

.watchedShows {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width:50%;
  text-align: center;
  border: 3px inset black;
  align-items: center;
}

img {
  height: 250px;
  width: 200px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.show{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

.search {
  margin: 35px;
}

.resultsFlex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 10px;
}

.buttonFlex {
  display: flex;
  flex-direction: row;
}

.watched {
  margin-bottom: 15px;
}

input[type=number]{
  width: 40px;
  text-align: center;
} 

button {
  border-radius: 4px;
  /* border: 2px solid #e7e7e7; */
}

.watchLctns {
  display: flex;
  flex-direction: row;
}

.red {
  color: red
}

.orange {
  color:orange
}

.yellow {
  color: yellow
}

.lightGreen {
  color: rgb(28, 255, 7)
}

.green {
  color: green
}

.clear {
  padding: 2px 10px;
  align-self: flex-end;
}