.App {
  text-align: center;
  background-color: #444444;
  
}

.header {
  font-weight: 700;
  font-size:xx-large;
  color: white;
  margin-bottom: 10px;
  font-family: 'Lobster', cursive;
}

.mainFlex {
  display: flex;
  width: 80%;
}

.availableShows {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-left: 20px;
}