/* There are some inline stylings on Shows.js and Watched.js */


/* Next maybe create it so that on hover it will create a "card" effect */
.App {
  text-align: center;
  background-color: #444444;
  color: white;
}

.header {
  font-weight: 700;
  font-size:xx-large;
  margin-bottom: 10px;
  font-family: 'Lobster', cursive;
  text-decoration: underline;
}

.mainFlex {
  display: flex;
}

.availableShows {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-left: 20px;
  width: 80%;
}

.watchedShows {
  width: 40%;
  border: 5px dotted rgb(16, 68, 16)
}

/* .showProps {
  margin: 0px 20px;
}  */


