/* There are some inline stylings on Shows.js and Watched.js */


/* Next maybe create it so that on hover it will create a "card" effect */
.App {
  text-align: center;
  background-color: #444444;
  color: white;
  height: 200vh;
}

.header {
  display: flex;
  justify-content: space-around;
  font-weight: 700;
  font-size:xx-large;
  background-color: rgb(95, 23, 15);
  padding: 10px;
  margin-bottom: 10px;
  font-family: 'Lobster', cursive;
  text-decoration: underline;
}

.mainFlex {
  display: flex;
}

.availableShows {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-left: 20px;
  width: 110%;
}

.watchedShows {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width:50%;
  text-align: center;
  border: 3px inset black
}

img {
  height: 250px;
  width: 200px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.show{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

.search {
  margin: 20px;
}

.resultsFlex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 10px;
}